// 换肤功能的公共样式值设置
$--color-primary: #427BF1!default;
$--color-primary-active:#366DDE!default;

$--color-success:#64C42D!default;
$--color-warning:#F3AC34!default;
$--color-danger:#F76B69!default;
$--color-inactive:#999999!default;
//-----------------背景色
//default
$--body-background: #F0F2F5!default;
$--view-background: #ffffff!default;
$--white-bg:#fff;
$--color-primary-bg: #427BF1!default;

$--color-box-bg:#F5F7FA!default;
$--color-box-bg-light:#EAF5FF!default;

$--breadcrumbs-bg:#fff!default;//面包屑导航颜色
$--modal-header-bg:#427BF1!default;
$--sub-title-active-bg:#fff!default;
//title
$--header-title-bg:#F5F7FA!default;
// table
$--table-bg:#fff!default;
$--color-th-bg:#F5F7FA!default;
$--color-td-bg-hover:#F5F7FA!default;
$--color-td-bg-active:#F5F7FA!default;
$--color-model-td-bg-hover:#F5F7FA!default;
//vav-tag
$--nav-tag-bg:#fff!default;
// button
$--button-background: #FFFFFF!default;
$--button-background-active: #1671D5!default;
// form
$--form-bg-search:#EAF5FF!default;
$--form-bg:#F5F7FA!default;
$common-input-bg:#fff!default;
$common-input-disable-bg:#fff!default;
$common-bg-inner: #EAF5FF!default;
$common-textarea-bg: #fff!default;
$common-dialog-form-bg: rgba(234,245,255,1)!default;
//model
$--model-content-title-bg:#F5F7FA!default;
$--model-title-input-bg:#FFF!default;

$--webkit-scrollbar-track-bg:#F5F7FA!default;
$--webkit-scrollbar-thumb-bg:#cccccc!default;
$--webkit-scrollbar-thumb-shadow: rgba(0, 0, 0, 0)!default;
$--webkit-scrollbar-track-shadow: rgba(0, 0, 0, 0)!default;

//-----------------font颜色
//default
$--font-color: #666!default;
$--font-color2: #333!default;
$--font-hover-color:#666666!default;
$--font-icon-name-color:#427BF1!default;
$--kc-tree-color: #5D6071!default;
//title
$--min-title-color:#333!default;
$--sub-title-color:#333!default;
$--tab-title-color:#333!default!default;
$--sub-title-active-color:#409EFF!default;

$--lable-font-color:#333!default;

$--list-font-color: #495060!default;
$--color-text-white:#FFF!default;
$--color-h3: #333333!default;

$--color-text:#666666!default;
$--color-text-active:#333333!default;
$--color-text-placeholder:#DCDFE6!default;
//model
$--model-content-title-color:#333!default;

//disabled input
$--color-disabled-input:#c0c4cc;
//editable input
$--color-editable-input:#606266;

// table
$--color-th:#333333!default;
$--color-td:#666!default;
$--color-td-font-hover:#666!default;
$-color-tree-search-table:#9093A6!default;
// button
$--button-font-color: #666666!default;
$--button-font-color-active: #ffffff!default;

//-----------------border 颜色
//default
$--color-box-border:#EBEEFA!default;
$--border-white:#fff!default;
// table
$--color-td-bordor:#EBEEF5!default;
$--color-mobel-td-border:#EBEEFA!default;
// button
$--button-border-color: #DCDFE6!default;
$--button-border-color-active: #1671D5!default;
//checkbox
$--checkbox-border-color:#DCDFE6!default;
//model
$--model-content-box-border:#EBEEFA;

//-----------------icon 颜色
//default
$--icon-font-color:#999!default;
$--icon-font-heavy-color:#666!default;
$--color-white-icon:#fff!default;
$--icon-hover-primary:#427BF1!default;
// table
$--color-td-option-icon:#BEC1C9!default;
$--color-td-option-icon-edit-hover:#427BF1!default;
$--color-td-option-icon-delete-hover:#427BF1!default;
// button
$--button-icon-color:#666!default;

//字体大小定义
$--xxxxxsmall-size:0.2rem!default;
$--xxxxsmall-size:0.3rem!default;
$--xxxsmall-size:0.4rem!default;
$--xxsmall-size:0.5rem!default;
$--xsmall-size:0.6rem!default;
$--small-size:0.7rem!default;
$--middle-size:0.8rem!default;
$--big-size:0.9rem!default;
$--bigger-size:1rem!default;
